* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  overscroll-behavior: contain;
}

.container {
  position: relative;
  width: 500px;
  min-height: 100vh;
  margin: auto;
  padding-top: 10px;
}
.container h1 {
  font-size: 5em;
  color: #776E65;
  letter-spacing: 4px;
}
.container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2px;
}
.container div p {
  color: #605C58;
}
#new-game {
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: 12pt;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #776E65;
}
#new-game:hover {
  background-color: #605C58;
  transition: .3s ease-in-out;
}
.container .game-score-status {
  position: absolute;
  right: 0;
}
.container .game-score-status :is(.score, .best-score) {
  min-width: 60px;
  padding: 20px 10px 5px;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 16pt;
  border-radius: 5px;
  background-color: #BBADA0;
}
.container .game-score-status .score {
  margin-right: 10px;
}
.container .game-score-status .best-score {
  min-width: 100px;
}
.container .game-score-status .score::before {
  content: "score";
}
.container .game-score-status .best-score::before {
  content: "best score";
}
.container .game-score-status .score::before,
.container .game-score-status .best-score::before {
  position: absolute;
  top: 15px;
  font-size: 9pt;
  font-weight: 400;
  text-transform: uppercase;
  color: wheat;
}
.grid {
  width: 500px;
  height: 500px;
  table-layout: fixed;
  border-spacing: 0;
  border: 5px solid #BBADA0;
}
.grid td {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  color: #776E65;
  border: 8px solid #BBADA0;
  background-color: #CDC1B4;
}
.grid .tile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #776E65;
}
.grid .tile.merged {
  animation: merge 500ms ease;
}
.grid .tile.value-2 {
  background-color: #EEE4DA;
}
.grid .tile.value-4 {
  background-color: #EDE0C8;
}
.grid .tile.value-8 {
  color: white;
  background-color: #F2B179;
}
.grid .tile.value-16 {
  color: white;
  background-color: #F59563;
}
.grid .tile.value-32 {
  color: white;
  background-color: #F67C5F;
}
.grid .tile.value-64 {
  color: white;
  background-color: #F65E3B;
}
.grid .tile.value-128 {
  color: white;
  background-color: #EDCF72;
}
.grid .tile.value-256 {
  color: white;
  background-color: #EDCC61;
}
.grid .tile.value-512 {
  color: white;
  background-color: #EDC850;
}
.grid .tile.value-1024 {
  font-size: .75em;
  color: white;
  box-shadow: 0 0 4px white;
  background-color: #EDC850;
}
.grid .tile.value-2048 {
  font-size: .75em;
  color: white;
  box-shadow: 0 0 8px white;
  background-color: #EDC22E;
}
.grid .tile.value-4096 {
  font-size: .75em;
  color: #f9f6f2;
  background: #3c3a32;
}

@keyframes merge {
  0% {
    border-radius: 20px;
    transform: scale(1.185);
  }
  100% {
    transform: scale(1);
  }
}